<!-- https://stackoverflow.com/questions/3915917/make-a-link-use-post-instead-of-get -->
<form action="/viewSecurity" class="inline" method="POST">
  <input hidden type="text" id="inputSecurity" name="inputSecurity" value="<%= symbol %>">
  <button type="button" class="btn btn-link"><%= symbol %></button>
</form>