<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Betting App</h1>
    <% if (locals.errorMessage) { %>
        <p>Error: <%= errorMessage %></p>
    <% } %>
    <form action="/view_security" method="POST">
        <label for="input_security">View security:</label>
        <input type="text" id="input_security" name="input_security">
        <input type="submit" value="OK">
    </form>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
